/* Estilo para la tabla */
body{
    font-family: FuenteF1;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    aspect-ratio: 16/9;
    empty-cells: hide;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
  }

  ul {
    padding-left: 20px;
  }
  
  #detalles-resultados {
    margin-top: 20px;
  }
  td:nth-child(even){
    background-color: #ff002b;
    color: white;
  }
  td:nth-child(odd){
    background-color: #2b2d42;
    color: white;
  }

  ul{
    list-style: none;
  }
  td ul {
    padding-left: 20px;  /* Espacio constante desde el borde */
    margin: 0;           /* Elimina márgenes adicionales */
  }
  
  td ul li {
    padding-left: 0;     /* Sin padding adicional en los elementos de la lista */
    list-style-type: none; /* Elimina los puntos de la lista */
    margin: 5px 0;       /* Espacio entre los elementos de la lista */
  }
  tr:not(.encabezado):hover {
    
    transform: translateY(-5px); /* Desplaza la fila hacia arriba */
    background-color: #f0f0f0;  /* Cambia el color de fondo al pasar el mouse */
    height: 80px;
    box-shadow: 0 0 15px #000000;

  }
  .button {
    background-color:red; /* Color de fondo */
    color: white;              /* Color del texto */
    border: none;              /* Sin borde */
    border-radius: 8px;        /* Bordes redondeados */
    padding: 10px 20px;        /* Espaciado interno */
    font-size: 16px;           /* Tamaño de fuente */
    font-weight: bold;         /* Texto en negrita */
    cursor: pointer;           /* Cursor de puntero */
    transition: background-color 0.3s, transform 0.2s; /* Animación suave */
  }
  
  /* Efecto al pasar el ratón */
  .button:hover {
    background-color: #ff002b; /* Cambia el color de fondo */
    transform: scale(1.05);    /* Aumenta ligeramente el tamaño */
  }
  
  /* Efecto al hacer clic */
  .button:active {
    background-color: #2b2d42; /* Color más oscuro */
    transform: scale(0.98);    /* Reduce ligeramente el tamaño */
  }
  h2{
    text-align: center;
  }

  @font-face {
    font-family: 'FuenteF1'; /* El nombre que usarás para referenciar la fuente */
    src: url('./letra.TTF') format('truetype'); /* Definimos la ubicación del archivo y el formato */
    font-weight: normal;
    font-style: normal;
  }
