a, li {
    text-decoration: none;
    color: black;
    display: inline;
    margin-right: 2%;
    margin-left: 25px;
    font-family: Arial;
}

p {
    font-family: Arial;
    line-height: 1.5;
}

.proyecto {
    text-align: center;
    margin: 15px;
    width: 400px;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #EEEEEE;
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 250px; /* Define una altura mínima uniforme */
    transition: all 0.3s ease-in-out;
}

img {
    width: 100%;
    max-width: 400px; /* Limita el ancho máximo */
    height: auto;
    margin-bottom: 5px;
}

#general {
    display: flex; /* Hace que los divs hijos estén en una sola línea */
    justify-content: space-around; /* Distribuye espacio entre los divs */
    align-items: center;
}
.proyecto:hover {
    box-shadow: 2px 2px 15px #00ADB5;
    font-size: 1.2em;
    transform: scale(1.05); /* Le da un ligero efecto de zoom al hacer hover */
}

#descripcion {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    
}
